// ### Primary

$primary-darkblue-intro-email-bg: hsl(217, 28%, 15%);
$primary-darkblue-main-bg: hsl(218, 28%, 13%);
$primary-darkblue-footer-bg: hsl(216, 53%, 9%);
$primray-darkblue-testimonials-bg: hsl(219, 30%, 18%);

// ### Accent

$accent-cyany-CTA-gradient: hsl(176, 68%, 64%);
$accent-blue-CTA-gradient: hsl(198, 60%, 50%);
$accent-CTA-hover: hsl(187, 60%, 74%);
$lightred-error: hsl(0, 100%, 63%);

// ### Neutral

$neutral-white: hsl(0, 0%, 100%);